@{
	ViewData["Title"] = "home (compact)";
	bool anyDrawn = false;

	string tag = null;
	if (Context.Request.Query.TryGetValue("tag", out var tags))
	{
		tag = tags.FirstOrDefault();
	}
}

@model IEnumerable<lrtw.Blog>

<div class="card text-white bg-dark">
	<div class="card-body">
		@{
			var dt = DateTime.MinValue;
			foreach (lrtw.Blog blog in Model)
			{
				anyDrawn = true;
				if (blog.TimeCreatedUTC.Year != dt.Year)
				{
					<h3>@blog.TimeCreatedUTC.Year</h3>
				}
				if (blog.TimeCreatedUTC.Month != dt.Month)
				{
					<h4 class="pl-3">@System.Globalization.CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(blog.TimeCreatedUTC.Month)</h4>
				}
				dt = blog.TimeCreatedUTC;

				<div class="pl-5 row">
					<a class="col" href="~/blog/@blog.Slug">@blog.Title</a>
					<small class="text-muted col-auto fixed-column-lg">@(Math.Max(1, Math.Ceiling(TimeSpan.FromMinutes(blog.WordCount/250).TotalMinutes))) min. read</small>
					<small class="text-muted col-auto fixed-column-sm"><i class="far fa-eye" title="Views"></i> @TinyAnalytics.GetViewCount(blog.Slug)</small>
				</div>
			}
			if (!anyDrawn)
			{
				<div class="alert alert-secondary" role="alert">
					Oops, there's nothing here! <a href="~/">Go Back.</a>
				</div>
			}
		}
	</div>
</div>