@{
	ViewData["Title"] = "home";
	bool anyDrawn = false;
	int page = (int)ViewData[lrtw.Controllers.HomeController.PAGE_KEY];
	int chunkSize = lrtw.Controllers.HomeController.PAGE_BLOG_COUNT;
	int resultSize = (int)ViewData[lrtw.Controllers.HomeController.RESULT_SIZE];
	int maxPages = (int)Math.Ceiling(resultSize / (float)chunkSize) + 1;
	string tag = null;
	if (Context.Request.Query.TryGetValue("tag", out var tags))
	{
		tag = tags.FirstOrDefault();
	}
}

@model IEnumerable<lrtw.Blog>

@foreach (lrtw.Blog blog in Model)
{
	anyDrawn = true;
	<div class="card text-white bg-dark">
		@if (!string.IsNullOrEmpty(blog.ThumbnailPath))
		{
			<a href="~/blog/@blog.Slug">
				<div class="card-img-top blog-img-container blog-img-container-sm">
					<img class="blog-img" src="@blog.ThumbnailPath" alt="Blog header image">
				</div>
			</a>
		}
		<partial name="../BlogHeaderPartial" model="blog" />
		<div class="card-body">
			@foreach (var prev in blog.Lines.Skip(1).Take(2))
			{
				@Html.Raw(StringExtensions.ToHtml(prev));
			}
		</div>
		<a href="~/blog/@blog.Slug">
			<div class="card-footer text-center btn-secondary">
				Read More...
			</div>
		</a>
	</div>
	<hr />
}

@{
	if (!anyDrawn)
	{
		<div class="alert alert-secondary" role="alert">
			Oops, there's nothing here! <a href="~/">Go Back.</a>
		</div>
	}
	else
	{
		<div class="container">
			<small class="row text-white justify-content-center">Viewing @((page - 1) * chunkSize) - @(Math.Min((page - 1) * chunkSize + chunkSize, resultSize)) results of @resultSize</small>
			<nav class="row justify-content-center" aria-label="Pages">
				<ul class="pagination">
					<li class="page-item">
						<a class="page-link" href="@(page > 1 ? $"?page={page-1}&tag={tag}" : "#")" tabindex="-1">Previous</a>
					</li>

					@{
						for (var i = 1; i < maxPages; i++)
						{
							<li class="page-item @(i == page ? "active" : "")">
								<a class="page-link" href="?page=@i&tag=@tag">
									@i
									@if (i == page)
									{
										<span class="sr-only">(current)</span>
									}
								</a>
							</li>
						}
					}

					<li class="page-item">
						<a class="page-link" href="@(page < maxPages - 1 ? $"?page={page+1}&tag={tag}" : "#")">Next</a>
					</li>
				</ul>
			</nav>
		</div>
	}
}